*{
	margin:0;
	padding:0;
}
/*背景*/
.container{
	height:100vh;
	background:rgb(0,2,19);
	display:flex;
	justify-content:center;
	align-items:center;
}
/*火箭*/
.container .rocket{
	position:relative;
	animation:shake 0.5s linear infinite;
}
/*火箭抖动*/
@keyframes shake{
	0%,100%{
		transform:translateY(-2px);
	}
	50%{
		transform:translateY(2px);
	}
}
/*火焰*/
.container .rocket::after{
	content:"";
	width:10px;
	height:150px;
	background:linear-gradient(rgb(40,158,194),transparent);/*渐变*/
	position:absolute;
	left:50%;
	transform:translateX(-50%);/*水平居中，垂直居中同理*/
	bottom:-150px;
}
/*光线*/
.container i{
	width:1px;
	height:20px;/*随机 30-100*/
	position:absolute;
	left:20px;/*随机 1-99*/
	top:0px;
	background: #fff;
	animation: line 2s linear infinite;
}
/*光线降落*/
@keyframes line{
	from{
		transform: translateY(0);
	}
	to{
		transform: translateY(80vh);
	}
}